<form action="/signup" method="POST">
    <input type="text" placeholder="Username" name="username">
    <input type="text" placeholder="Email Id" name="email">
    <input type="password" placeholder="Password" name="password">
    <input type="text" placeholder="Full Name" name="name">
    <input type="text" placeholder="College Name" name='collegeName'>
    <input type="text" placeholder="Present Address" name="presentAddress">
    <input type="tel" placeholder="Phone Number" name="phoneNumber">
    <p>Staff Status:<input type="checkbox" name="staffStatus" value="true" class='status' onchange="this.form.submit()" checked disabled>
    </p>
    <p>Super User:</p>
</form>